body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
}

h2 a {
  color: #fff;
  text-decoration: none;
}

nav ul {
  list-style-type: none;
  padding-top: 10px;
}

nav ul li {
  display: inline;
  margin: 0 5px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  width: 300px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.card h2 {
  font-size: 20px;
  margin: 0;
}

.card p {
  margin: 10px 0;
}

#api-status {
  margin-top: 100px;
  font-family: monospace;
  text-align: center;
  font-size: 1rem;
  background-color: rgb(219, 219, 219);
  padding: 10px;
}
